body{
    overflow-x: hidden;
}
h1{
    color:darkblue;
}
.description{
    font-weight:bolder;
}
.prod_id{
    font-weight:bolder;
}
span{
    margin-left:5px;
}
.productBox{
    border:3px solid;
    padding:5px;
    margin-bottom:5px;
}
.completeProductBox{
    border:3px solid #64de2a;
    padding:5px;
    margin-bottom:5px;
}
.calc{
    margin:5px;
}
.many{
    font-size:18px;
    font-weight:bolder;
}